<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " class="container">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<img class="image"src="assets/sai1.jpg">
				<h1>Sai prasad</h1>
				<h2>Front End Developer</h2>	
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<h1 class="skills">Skills</h1>
						<ul>
							<li>
								Angular5
						    </li>
						    <li>
							    Bootstrap
						    </li>
						    <li>
								Javascript
						    </li>
						    <li>
							    Html
						    </li>
						    <li>
								Css
						    </li>
						</ul>
				    </div>
				    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<h1 class="projects">Projects</h1>
						<ul>
							<li>
								<a href="#">Myangular Portfolio</a>
						    </li>
						    <li>
							    <a href="https://saitirumala.github.io/Search_cars/">Search Cars</a>
						    </li>
						    <li>
								<a href="https://saitirumala.github.io/portfolio/">Portfolio</a>
						    </li>
						</ul>
				    </div>
				</div>    
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 continer1">
									<p id="peragraph">Bootstrap is the most popular HTML, CSS, and JavaScript framework for web front-end development. It’s great for developing responsive, mobile-first web sites. The Bootstrap website is available at http://getbootstrap.com/. The Bootstrap framework can be used together with modern JavaScript web & mobile frameworks like Angular. In the following you’ll learn how to use the Bootstrap framework in your Angular project. Furthermore we’ll take a look at the Ng-Bootstrap project which delivers Angular Bootstrap components which can be used out of the box.</p>
		</div>
	</div>
</div>
 