.container{
	background-color: silver;
	border:20px solid silver;
	border-radius: 5px;
	margin-top: 10px;
}
.container1{}
h1{
	color: black;
	font-family:Georgia;
}
h2{
	color: green;
	font-family:Georgia;
}
.skills{
	color: red;
	font-family:Georgia;

}
.projects{
	color: red;
	font-family:Georgia;
}
img{
	height: 280px;
	width: 270px;
	border-radius: 50%;
	margin-top: 10px;
}
@media screen and (min-width: 1200px){
	.image{
	margin-left:0px;
	height: 300px;
	width: 290px;
	margin-top: 10px;	
	}
}
@media screen and (min-width: 1200px){
	.skills{
		color: red;
		margin-top: 100px;
		font-family:Georgia;
	
	}
}
@media screen and (min-width: 1200px){
	.projects{
		color: red;
		margin-top: 100px;
		font-family:Georgia;
	
	}
}
