.container{
	background-color: silver;
	border:20px solid black;
}
.container1{
	background-color: white;
	border-radius: 2%;
}
h1{
	color: #ff0055;
	font-family:Georgia;
	background-color: black;
	width: 300px;
	border-radius: 7px;
}
h2{
	color: #3F729B;
	font-family:Georgia;
}
h3{
	color: #00695c ;
	font-family:Georgia;
}
.experience{
	color: green;
	font-family:Georgia;

}
@media screen and (min-width: 1200px){
	.experence{
		color: red;
		margin-top: 100px;
		font-family:Georgia;
	
	}
}
img{
	height: 100px;
	width: 100px;
}

button {
	margin-bottom: 20px;
	border-radius: 10px;
	background-color: #1a237e;
	color: white;
}
.Details{
	background-color: white;
}