<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 address">
			<h1>Contact Details :<img class="mailSymbol1" src="assets/mail.png"><img class="github-logo1" src="assets/github-logo.png"></h1>
			<hr>
			<h2 class="SideHeading">Address:</h2>
			<hr>
		    <h2>T SAI PRASAD</h2>
			<h3>S/o T Sreepathy</h3>
			<h3>Damalcheruvu</h3>
			<h3>Pakala</h3>
			<h3>Chittoor (Dist)</h3>
			<h3>AP,India.</h3>
		</div>
		<hr>
		<div class="row">
			<div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<h2 class="SideHeading">Contact number :</h2>
				<hr>
				<img class="phone-logo" src="assets/phone.png">
				<h3>9492704294,</h3>
				<h3>8919971783.</h3>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<h2 class="SideHeading">Other sources :</h2>
				<hr>
				<img class="mailSymbol" src="assets/mail.png"><img class="github-logo" src="assets/github-logo.png"><h5>saiprasadtirumala.t@gmail.com</h5>
				<h5><a href="github.com/saitirumala/">github.com/saitirumala/</a></h5>
				<h3></h3>
			</div>
		</div>
	</div>
</div>
