<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#" style="font-family:Georgia;">My Portfolio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="font-family:Georgia;" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="font-family:Georgia;" routerLink="/about-me">About Me <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="font-family:Georgia;" routerLink="/resume">Resume <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="font-family:Georgia;" routerLink="/about-page">About Page <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="font-family:Georgia;" id="navbarDropdown" role="button" data-toggle="dropdown">
          Projetcs Done
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://saitirumala.github.io/Search_cars/">Search Cars</a>
          <a class="dropdown-item" href="#">My angular Portfolio</a>
          <a class="dropdown-item" href="https://saitirumala.github.io/portfolio/">portfolio</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="font-family:Georgia;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/skills">Skills</a>
          <a class="dropdown-item" routerLink="/experience">Experience</a>
          <a class="dropdown-item" routerLink="/contact-details">Contact Details</a>
          <a class="dropdown-item" routerLink="/galllery">Galllery</a>
          <a class="dropdown-item" routerLink="/login" >Logout</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
       
  </div>
</nav>