h2{
	color: #ff0055;
	margin-top:0px;
	font-family: Times;
}
h3{
	margin-top: 1px;
	margin-bottom: 2px;
	
}
.image{
	margin-top: 10px;
	height: 165px;
	width: 125px;
	margin-left: 70px;
	border:2px solid silver; 
}
.resume{
	border:20px solid black;
	background-color: white;
	border-radius: 5px;
	
}
.details{
	color: #003300 ;
	margin-top: 0px;
	text-align: left;
}
h4{
	color: green;
	margin-top: 0px;
	padding: 0px;

}
@media screen and (min-width: 1200px){
	.image{
	margin-left: 30px;
	height: 200px;
	width: 155px;
	margin-top: 20px;
	padding-right: 0px;	
	}
}
@media screen and (min-width: 1200px){
	.resume{
	border:10px solid white;
	background-color: white;
	margin: 50px 200px 50px 130px;
    
    width: 80%;
	}
}
@media screen and (min-width: 1200px){
	.details{
	color: #003300 ;
	margin-top: 40px;
	padding-left: 0px;
	text-align: left;
	}
}
@media screen and (min-width: 1200px){
	h4{
	color: green;
	margin-top: 30px;
	margin-left: 30px;
	text-align: right;
	}
}
p{
	font-size: 20px;
}
li{
	font-size: 20px;
}
