		
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container-fluid resume">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<img src="assets/sai.jpg" alt="..." class="image">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 details">
				<h2>T SAI PRASAD</h2>
				<h3>S/o T Sreepathy</h3>
				<h3>Damalcheruvu</h3>
				<h3>Pakala</h3>
				<h3>Chittoor (Dist)</h3>
				<h3>Andhra pradesh,India.</h3>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 contactDetails">
	            <h4>saiprasadtirumala.t@gmail.com</h4>
	            <h4>9492704294</h4>
			</div>
		</div>
		<hr>
    </div>
    		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"style="margin-top: 20px;">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side-headding1">
				<h2 style="background-color: black;border-radius: 5px;">Career Objective:</h2>
				<p>To have a growth oriented and challenging career, where I can contribute my knowledge and skills to the organization and enhance my experience through continuous learning and team work.</p>
			</div>
		</div>
    </div>
    		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<span class="min-chart" id="chart-sales" data-percent="56"><span class="percent"></span></span>
			</div>
		</div>
    </div>
    		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h2 style="background-color: black;border-radius: 5px;">Technical Skills:</h2>
				<ul>
					<li>Operating Systems		:  Windows XP</li>
					<li>Programming Languages	:  C,C++.</li>
					<li>Scripting Languages   :  Html , Css , Javascript ,
					 Bootstrap , Angularjs 5.</li>
				</ul>
			</div>			
		</div>
    </div>
    		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h2 style="background-color: black;border-radius: 5px;">Academic Projects:</h2>
				<ul>
					<li><B>Project Title		           :  MyAngular Portfolio</B></li>
					<li>Project Type      	               :  Web Application</li>
					<li>Organization		               :  Details about Developer.</li>
					<li>Platform Used		               :  Angular 6,Javascript,Bootstrap,Html,Css.
					</li>
					
				</ul>
				<ul>
					<li><B>Project Title :  Best collection of Cars</B></li>
					<li>Project Type      	               :  Web Application</li>
					<li>Organization		               :  Searching and inserting of new Car data.</li>
					<li>Platform Used		               :  Bootstrap,Javascript,Html,Css.</li>

				</ul>

				<ul>
					<li><B>Project Title		           :  My Portfolio</B></li>
					<li>Project Type      	               :  Web Application</li>
					<li>Organization		               :  Details about Developer.</li>
					<li>Platform Used		               :  Html,Css.
					</li>
					
				</ul>
			</div>
			
		</div>
    </div>
    		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h2 style="background-color: black;border-radius: 5px;">Extracurricular  Activites :</h2>
				<ul>
					
					<li>Participated in two times Zonal level Badminton tornaments from our college.</li>
					<li>Participated in IOT ppt presentation held in other college .</li>
				</ul>
			</div>
		</div>
    </div>
    		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h2 style="background-color: black;border-radius: 5px;">Personal Information:</h2>
				<ul>
					<li>Date of Birth		:	7th October, 1997</li>
					<li>Nationality		    :	Indian</li>
					<li>Marital Status		:	Single</li>
					<li>Languages		    :	English, Telugu,Tamil.</li>
				</ul>
			</div>
		</div>
    </div>
    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h2 style="background-color: black;border-radius: 5px;">Present  Address :</h2>
				<h3 style="margin-left: 15px;">T.SAI PRASAD,</h3>
				<h3 style="margin-left: 15px;">S/O T. Sreepathy,</h3>
				<h3 style="margin-left: 15px;">Pakala (Mandal),</h3>
				<h3 style="margin-left: 15px;">Chittoor (Dist), </h3>
				<h3 style="margin-left: 15px;">Andhra Pradesh,</h3>
				<h3 style="margin-left: 15px;">517152.</h3>
			</div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="margin-top: 20px;">
				<h3 style="color: black;">Place: Rasipuram</h3>
				<h3 style="color: black;">Date : 10-10-2018</h3>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 details" style="margin-top: 20px;">
				
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 contactDetails" style="margin-top: 20px;">
	            <h3 style="color: black;">(T Sai prasad)</h3>
	            <h3 style="color: black;margin-left: 25px;">Signature</h3>
			</div>
		</div>
    </div>
</div>
